doctype html
html(lang="en")
  head
    title routealong - example

    style.
      body {
        font-family: Verdana;
        font-size: 10pt;
      }

      .map {
        width: 80%;
        border: 1px solid #ccc;
        height: 300px;
      }

      input[type=text] {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding:5px;
      }
      input[type=submit] {
        display: block;
        margin-top: 10px;
      }
      form :first-child {
        margin-right: 20px;
      }

  body
    center
      .map

      p Whats your travel plan?
      form
        input(type="text", placeholder="From", name="from")
        input(type="text", placeholder="To", name="to")
        input(type="submit", value="Get routealong!")

    script(src="https://code.jquery.com/jquery-2.1.1.min.js")
    script(src="http://maps.googleapis.com/maps/api/js?sensor=false")
    script.
      $(document).ready(function() {
        var mapOptions = {
          center: new google.maps.LatLng(10, 0),
          zoom: 2,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map($('.map')[0],
            mapOptions);

        $('input[name=from]').focus();
      });

