doctype html
html(lang="en")
  head
    title routealong - example

    style.
      body {
        font-family: Verdana;
        font-size: 10pt;
      }

      .map {
        width: 80%;
        border: 1px solid #ccc;
        height: 300px;
      }

      input[type=text] {
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 200px;
        padding:5px;
      }
      input[type=submit] {
        display: block;
        margin-top: 10px;
      }
      form :first-child {
        margin-right: 20px;
      }
      .pac-container {
        width: 420px !important;
        left: 50% !important;
        margin-left: -210px !important;
      }
  body
    center
      .map

      p Whats your travel plan?
      form
        input(type="text", placeholder="From", name="from")
        input(type="text", placeholder="To", name="to")
        input(type="submit", value="Get routealong!")

    script(src="https://code.jquery.com/jquery-2.1.1.min.js")

    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&sensor=false")
    script.
      $(document).ready(function() {

        var mapOptions = {
          center: new google.maps.LatLng(10, 0),
          zoom: 2,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map($('.map')[0], mapOptions);

        var directionsDisplay = new google.maps.DirectionsRenderer();
        directionsDisplay.setMap(map);

        var directionsService = new google.maps.DirectionsService();

        $('input[name=from]').focus();
        var from = new google.maps.places.Autocomplete($('input[name=from]')[0]);
        var to = new google.maps.places.Autocomplete($('input[name=to]')[0]);

        $('form').submit(function(event) {
          event.preventDefault();
          
          var f = from.getPlace();
          var t = to.getPlace();

          if (!f || !t) 
            return;

          request = {
            origin: f.geometry.location,
            destination: t.geometry.location,
            travelMode: google.maps.TravelMode.DRIVING
          };
          directionsService.route(request, function(res, status) {
            if (status == google.maps.DirectionsStatus.OK) {
              directionsDisplay.setDirections(res);

              
              var path = res.routes[0].overview_path;
              var points = $.map(path, function(p){
                return {lat:p.lat(), lng:p.lng()};
              });

              $.ajax({
                type: 'POST',
                url: '/routealong',
                dataType: 'json',
                async: 'false',
                data: JSON.stringify(points),
                success: function() {
                  console.log("data got sent!");
                },
                error: function() {
                  alert('some sad error happend... dont panic!');
                }
              });
            }
          });

        });
      });

