{
	"yelp_consumer_key": "ENTER_YOUR_KEY_HERE",
	"yelp_consumer_secret": "ENTER_YOUR_KEY_HERE",
	"yelp_token": "ENTER_YOUR_KEY_HERE",
	"yelp_token_secret": "ENTER_YOUR_KEY_HERE",
	"google_geocode_api_key":"ENTER_YOUR_KEY_HERE",
	"mapquest_geocode_api_key":"ENTER_YOUR_KEY_HERE"
}